.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 150px;
    width: 600px;
    background: #dda0dd;
    padding-bottom: 20px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: navy;
    font-size: 48px;
    font-weight: 700;
}
.underline{
    width: 74px;
    height: 5px;
    background: navy;
    border-radius: 9px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 39px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: white;
    border-radius: 6px;
}
.input img{
    margin: 0px 30px;
}
.input input{
    height: 55px;
    width: 400px;
    padding-left: 28px;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(11, 0, 0);
    font-size: 19px;
}
.forgot-password{
    padding-left: 68px;
    margin-top: 27px;
    color: #0a0000;
    font-size: 18px;
}
.forgot-password span{
    color: navy;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: navy;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background: #eaeaea;
    color: #696969;
}